.main-wrapper {
  background-color: #61dafb;
  width: 62%;
}

.calculator__title {
  font-family: 'Major Mono Display', monospace;
  color: #F67866;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 80px;
}
