.wrapper {
  background-image: url('./assets/background.png');
  background-size: cover;
}

.main-wrapper {
  height: 100vh;
  width: 62%;
  padding-top: 25vh;
  float: left;
}

.sidebar-wrapper {
  height: 100vh;
  width: 38%;
  display: inline-block;
}
